<h1 mat-dialog-title>Edit record</h1>

<mat-dialog-content class="editor" [formGroup]="editorForm">

  <mat-form-field class="editor__field">
    <input matInput placeholder="First name" formControlName="first_name">
    <mat-error *ngIf="!editorForm.get('first_name').valid && editorForm.get('first_name').touched">
      Please enter a valid first name!
    </mat-error>
  </mat-form-field>

  <mat-form-field class="editor__field">
    <input matInput placeholder="Last name" formControlName="last_name">
    <mat-error *ngIf="!editorForm.get('last_name').valid && editorForm.get('last_name').touched">
      Please enter a valid last name!
    </mat-error>
  </mat-form-field>

  <mat-form-field class="editor__field">
    <input matInput placeholder="Email" formControlName="email">
    <mat-error *ngIf="!editorForm.get('email').valid && editorForm.get('email').touched">
      Please enter a valid email address!
    </mat-error>
  </mat-form-field>

  <mat-form-field class="editor__field">
    <input matInput placeholder="Username" formControlName="username">
    <mat-error *ngIf="!editorForm.get('username').valid && editorForm.get('username').touched">
      Please enter a valid username!
    </mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="onClose()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="onSave()">Save</button>
</mat-dialog-actions>
