<article class="user-card m-4">
  <div class="text-center mt-4">

    <div class="container rounded-circle mx-auto profile-picture"
         [ngClass]="{'0': 'green-icon','1':'blue-icon','2':'yellow-icon','3':'red-icon'}[profileIconColor]">
      <span class="mx-auto">
        {{ user.first_name[0] + user.last_name[0] }}
        <span class="rounded-circle profile-picture__status-circle"
              [ngClass]="{'0': 'green-status-circle','1':'blue-status-circle',
              '2':'yellow-status-circle','3':'red-status-circle'}[profileIconColor]">
      </span>
      </span>
    </div>

    <div class="mt-4">
      <div class="user-card__name">{{ user.first_name }} {{ user.last_name }}</div>
      <div class="text-secondary user-card__username">@{{ user.username }}</div>
    </div>

    <div class="text-secondary mt-4 user-card__icons">
      <i class="fa fa-pencil-square-o mx-4 p-3"></i>
      <i class="fa fa-bell-o mx-4 p-3" [ngClass]="(user.alert)?'text-primary':'text-secondary'"></i>
      <i class="fa fa-trash-o mx-4 p-3"></i>
    </div>

    <div class="py-3 mt-3 user-card__activity">
      <img src="../../../assets/graph.png" class="img-fluid ml-5 user-card__graph">
      <div class="mr-5 user-card__tasks">
        <div class="user-card__task-count">{{user.tasks}}</div>
        <div class="text-secondary user-card__task-text">Open Tasks</div>
      </div>
    </div>

    <div class="text-secondary buttons">
      <div class="p-3 buttons__cards-button"><i class="fa fa-th-large mx-4"> CARDS</i></div>
      <div class="p-3 buttons__profile-button"><i class="fa fa-user mx-4"> PROFILE</i></div>
    </div>

  </div>
</article>
