$green-primary: #CEF0EF;
$green-secondary: #00B4AD;
$blue-primary: #D8E6FF;
$blue-secondary: #518BFD;
$yellow-primary: #FFF0DB;
$yellow-secondary: #FCB148;
$red-primary: #FEDFE5;
$red-secondary: #FA5979;

.user-card {
  background: white;
  display: inline-block;
  min-width: 20vw;
}

.profile-picture {
  align-items: center;
  display: flex;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.25em;
  height: 10vh;
  position: relative;
  width: 10vh;
}

.green-icon {
  background: $green-primary;
  color: $green-secondary;
}

.green-status-circle {
  border: 2px solid $green-secondary;
}

.blue-icon {
  background: $blue-primary;
  color: $blue-secondary;
}

.blue-status-circle {
  border: 2px solid $blue-secondary;
}

.yellow-icon {
  background: $yellow-primary;
  color: $yellow-secondary;
}

.yellow-status-circle {
  border: 2px solid $yellow-secondary;
}

.red-icon {
  background: $red-primary;
  color: $red-secondary;
}

.red-status-circle {
  border: 2px solid $red-secondary;
}

.profile-picture__status-circle {
  background: white;
  bottom: 8%;
  left: 8%;
  height: 1.25vh;
  box-shadow: 0 0 0 2px white;
  position: absolute;
  width: 1.25vh;
}

.user-card__name {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.25em;
}

.user-card__username {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.75em;
}

.user-card__icons {
  font-size: 1.25em;
}

.user-card__activity {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "graph tasks";
}

.user-card__graph {
  grid-area: graph;
}

.user-card__tasks {
  grid-area: tasks;
}

.user-card__task-count {
  font-size: 2.5em;
}

.user-card__task-text {
  font-size: 0.75em;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "cards profile";
}

.buttons__cards-button {
  border-right: 1px solid lightgray;
  grid-area: cards;
}

.buttons__profile-button {
  grid-area: profile;
}
