<article class="text-center m-4 user-card">

  <figure class="rounded-circle mx-auto mt-4 profile-picture"
       [ngClass]="{'0': 'green-icon','1':'blue-icon','2':'yellow-icon','3':'red-icon'}[profileIconColor]">
    <section class="mx-auto">

      {{ user.first_name[0] + user.last_name[0] }}

      <figure class="rounded-circle profile-picture__status-circle"
            [ngClass]="{'0': 'green-status-circle','1':'blue-status-circle',
            '2':'yellow-status-circle','3':'red-status-circle'}[profileIconColor]">
      </figure>

    </section>
  </figure>

  <section class="mt-4 name-info">
    <section class="name-info__name">{{ user.first_name }} {{ user.last_name }}</section>
    <section class="text-secondary name-info__username">@{{ user.username }}</section>
  </section>

  <section class="mt-4 icons">
    <i class="fa fa-pencil-square-o mx-4 p-3"></i>
    <i class="fa fa-bell-o mx-4 p-3" [class.text-primary]="user.alert"></i>
    <i class="fa fa-trash-o mx-4 p-3"></i>
  </section>

  <section class="py-3 mt-3 activity">
    <img src="../../../assets/graph.png" class="img-fluid ml-5 activity__graph">
    <section class="mr-5 tasks">
      <section class="tasks__task-count">{{user.tasks}}</section>
      <section class="text-secondary tasks__task-text">Open Tasks</section>
    </section>
  </section>

  <section class="buttons">
    <section class="p-3 buttons__cards-button"><i class="fa fa-th-large mx-4"> CARDS</i></section>
    <section class="p-3 buttons__profile-button"><i class="fa fa-user mx-4"> PROFILE</i></section>
  </section>

</article>
