.diagonal-background{
  background-image: -webkit-linear-gradient(150deg, dodgerblue 50%, ghostwhite 50%);
}

.fill-150-viewport {
  min-height: 120vh;
}

.fill-90-viewport {
  min-height: 110vh;
  min-width: 90vw;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.card-list {
  background: ghostwhite;
  border-radius: 15px;
  box-shadow: -20px 30px 50px -20px lightgray;
}
