$primary-color: ghostwhite;
$secondary-color: dodgerblue;
$shadow-color: lightgray;

.user-view{

  align-items: center;
  background-image: -webkit-linear-gradient(150deg, $secondary-color 50%, $primary-color 50%);
  display: flex;

  .card-list {
    background: $primary-color;
    border-radius: 15px;
    box-shadow: -20px 30px 50px -20px $shadow-color;
  }

}
