<header class="header">

  <section class="text-left p-4 tools">
    <section class="tools__boards">
      <i class="fa fa-th-large"></i>
      <span class="text-muted ml-3">Boards</span>
    </section>

    <section class="tools__search">
      <i class="fa fa-search"></i>
      <span class="ml-3">Search...</span>
    </section>
  </section>

  <section class="text-center p-3 title">
    <span class="text-primary mr-4 title__text">Trello</span>
    <i class="fa fa-caret-up title__icon"></i>
  </section>

  <section class="text-right profile">
    <span class="p-4 profile__text">Hello XY!</span>
    <i class="fa fa-bell-o p-4 profile__alert"></i>
    <i class="fa fa-bars p-4 profile__menu"></i>
  </section>

</header>
