<h1 class="text-center display-4 my-5">{{ dataStructure.name | titlecase }}</h1>

<section class="ml-5 control">
  <form (ngSubmit)="onSearch()" [formGroup]="searchForm" class="search">

    <mat-form-field class="mr-3 search__field">
      <input matInput formControlName="searchTerm" placeholder="Enter your search filter here">
    </mat-form-field>

    <button type="submit" mat-button>Search</button>

  </form>

  <mat-paginator class="paginator"
                 (page)="onPagination($event)"
                 [length]="dataStructure.data.length"
                 [pageSizeOptions]="[5, 10, 20, 50]"
                 [pageSize]="lastEntryIndex - firstEntryIndex">
  </mat-paginator>
</section>

<table class="table" mat-table [dataSource]="dataStructure.data | slice:firstEntryIndex:lastEntryIndex">

  <ng-container *ngFor="let column of dataStructure.schema" matColumnDef="{{column}}">
    <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
    <td mat-cell *matCellDef="let item"> {{item[column]}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="dataStructure.schema"></tr>
  <tr mat-row *matRowDef="let row; columns: dataStructure.schema;" (click)="editRecord(row)"></tr>

</table>
