.control {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "search paginator";

  .search {
    grid-area: search;

    .search__field {
      width: 20vw;
    }

  }

  .paginator {
    grid-area: paginator;
  }

}
